{% load static %}
<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path={% static "/" %}
  data-template="vertical-menu-template">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>RD Veterinária</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    
    <link rel="icon" type="image/x-icon" href={% static "/img/rd_logo.png" %} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href={% static "/vendor/fonts/boxicons.css" %}/>
    <link rel="stylesheet" href={% static "/vendor/fonts/fontawesome.css" %} />
    <link rel="stylesheet" href={% static "/vendor/fonts/flag-icons.css" %}/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Core CSS -->
    <link rel="stylesheet" href={% static "/vendor/css/rtl/core.css" %} class="template-customizer-core-css" />
    <link rel="stylesheet" href={% static "/vendor/css/rtl/theme-default.css" %} class="template-customizer-theme-css" />
    <link rel="stylesheet" href={% static "/css/demo.css" %}/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href= {% static "/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" %}/>
    <link rel="stylesheet" href={% static "/vendor/libs/typeahead-js/typeahead.css" %} />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src={% static "/vendor/js/helpers.js" %}></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src= {% static "/vendor/js/template-customizer.js" %}></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src={% static "/js/config.js" %}></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="index.html" class="app-brand-link">
              <img src={% static "/img/rd_logo.png" %} alt="Logo_RD" width="50px" height="50px">
              <span class="app-brand-text demo menu-text fw-bold ms-2">Patologia</span>              
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
              <i class="bi bi-list d-none d-xl-block fs-4 align-middle"></i>
              <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-divider mt-0"></div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Exames -->
            <li class="menu-item {% if aba_ativa == 'list_exams' or aba_ativa == 'create_exam' or aba_ativa == 'update_exams' or aba_ativa == 'detail_exam' or aba_ativa == 'delete_exam' %}active open{% endif %}">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="bi bi-clipboard2-pulse-fill p-2"></i>
                <div data-i18n="Exames">Exames</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item {% if aba_ativa == 'list_exams' or aba_ativa == 'detail_exam' %}active{% endif %}">
                  <a href="{% url "list_exams" %}" class="menu-link">
                    <div data-i18n="Listar Exames">Listar Exames</div>
                  </a>
                </li>
                <li class="menu-item {% if aba_ativa == 'create_exam' or aba_ativa == 'update_exams' or aba_ativa == 'delete_exam' %}active{% endif %}">
                  <a href="{% url "create_exams" %}" class="menu-link">
                    <div data-i18n="Cadastrar Exames">Cadastrar</div>
                  </a>
                </li>
              </ul>
            </li>
            <!-- Especies -->
            <li class="menu-item {% if aba_ativa == 'list_species' or aba_ativa == 'create_species' or aba_ativa == 'update_specie' or aba_ativa == 'delete_specie'%}active open{% endif %}">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="bi bi-clipboard-fill p-2"></i>
                <div data-i18n="Espécies">Espécies</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item {% if aba_ativa == 'list_species' %}active{% endif %}">
                  <a href="{% url "list_species" %}" class="menu-link">
                    <div data-i18n="Listar Espécies">Listar Espécies</div>
                  </a>
                </li>
                <li class="menu-item {% if aba_ativa == 'create_species' or aba_ativa == 'update_specie' or aba_ativa == 'delete_specie' %}active{% endif %}">
                  <a href="{% url "create_species" %}" class="menu-link">
                    <div data-i18n="Cadastrar Espécies">Cadastrar Espécies</div>
                  </a>
                </li>
              </ul>
            </li>
             <!-- Raça -->
             <li class="menu-item {% if aba_ativa == 'list_races' or aba_ativa == 'create_race' or aba_ativa == 'update_race' or aba_ativa == 'delete_race'%}active open{% endif %}">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="bi bi-clipboard-fill p-2"></i>
                <div data-i18n="Raças">Raças</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item {% if aba_ativa == 'list_races' %}active{% endif %}">
                  <a href="{% url "list_races" %}" class="menu-link">
                    <div data-i18n="Listar Raças">Listar Raças</div>
                  </a>
                </li>
                <li class="menu-item {% if aba_ativa == 'create_race' or aba_ativa == 'update_race' or aba_ativa == 'delete_race' %}active{% endif %}">
                  <a href="{% url "create_races" %}" class="menu-link">
                    <div data-i18n="Cadastrar Raças">Cadastrar Raças</div>
                  </a>
                </li>
              </ul>
            </li>
             <!-- Procedimentos -->
             <li class="menu-item {% if aba_ativa == 'list_procedures' or aba_ativa == 'create_procedure' or aba_ativa == 'update_procedure' or aba_ativa == 'delete_procedure'%}active open{% endif %}">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="bi bi-eyedropper p-2"></i>
                <div data-i18n="Procedimentos">Procedimentos</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item {% if aba_ativa == 'list_procedures' %}active{% endif %}">
                  <a href="{% url "list_procedures" %}" class="menu-link">
                    <div data-i18n="Listar Procedimentos">Listar Procedimentos</div>
                  </a>
                </li>
                <li class="menu-item {% if aba_ativa == 'create_procedure' or aba_ativa == 'update_procedure' or aba_ativa == 'delete_procedure' %}active{% endif %}">
                  <a href="{% url "create_procedures" %}" class="menu-link">
                    <div data-i18n="Cadastrar Procedimentos">Cadastrar Procedimentos</div>
                  </a>
                </li>
              </ul>
            </li>
             <!-- Clientes -->
             <li class="menu-item {% if aba_ativa == 'list_customers' or aba_ativa == 'create_customer' or aba_ativa == 'update_customer' or aba_ativa == 'delete_customer'%}active open{% endif %}">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="bi bi-buildings-fill p-2"></i>
                <div data-i18n="Clientes">Clientes</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item {% if aba_ativa == 'list_customers' %}active{% endif %}">
                  <a href="{% url "list_customers" %}" class="menu-link">
                    <div data-i18n="Listar Clientes">Listar Clientes</div>
                  </a>
                </li>
                <li class="menu-item {% if aba_ativa == 'create_customer' or aba_ativa == 'update_customer' or aba_ativa == 'delete_customer' %}active{% endif %}">
                  <a href="{% url "create_customers" %}" class="menu-link">
                    <div data-i18n="Cadastrar Clientes">Cadastrar Clientes</div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
            <div class="container-fluid">
              <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                  <i class="bx bx-menu bx-sm"></i>
                </a>
              </div>

              <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

                <ul class="navbar-nav flex-row align-items-center ms-auto">
                  

                  <!-- Style Switcher -->
                  <li class="nav-item me-2 me-xl-0">
                    <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
                      <i class="bi bi-brightness-high"></i>
                    </a>
                  </li>
                  <!--/ Style Switcher -->

                  <!-- User -->
                  <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                      <div class="avatar avatar-online">
                        <img src= {% static "/img/user.png" %} alt class="rounded-circle" />
                      </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item" href="pages-account-settings-account.html">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar avatar-online">
                                <img src={% static "/img/user.png" %} alt class="rounded-circle" />
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <span class="fw-semibold d-block lh-1">{{request.user.first_name}}</span>
                              <small>Admin</small>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                          <i class="bx bx-power-off me-2"></i>
                          <span class="align-middle">Log Out</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <!--/ User -->
                </ul>
              </div>

              <!-- Search Small Screens -->
              <div class="navbar-search-wrapper search-input-wrapper d-none">
                <input
                  type="text"
                  class="form-control search-input container-fluid border-0"
                  placeholder="Search..."
                  aria-label="Search..." />
                <i class="bx bx-x bx-sm search-toggler cursor-pointer"></i>
              </div>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            {% block content %}{% endblock content %}

            
          <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src={% static "/vendor/libs/jquery/jquery.js" %}></script>
    <script src={% static "/vendor/libs/popper/popper.js" %}></script>
    <script src={% static "/vendor/js/bootstrap.js" %}></script>
    <script src={% static "/vendor/libs/perfect-scrollbar/perfect-scrollbar.js" %}></script>

    <script src={% static "/vendor/libs/hammer/hammer.js" %}></script>

    <script src={% static "/vendor/libs/i18n/i18n.js" %}></script>
    <script src={% static "/vendor/libs/typeahead-js/typeahead.js" %}></script>

    <script src={% static "/vendor/js/menu.js" %}></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src={% static "/js/main.js" %}></script>

    <!-- Page JS -->
  </body>
</html>