{% extends "base.html" %} {% block content %}
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="py-3 breadcrumb-wrapper mb-4">
    <span class="text-muted fw-light">Cadastro de Exames/</span> Exames
  </h4>

  <!-- Basic Layout & Basic with Icons -->
  <div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <div class="card mb-4">
        <div
          class="card-header d-flex align-items-center justify-content-between"
        >
          <h5 class="mb-0">Cadastro de Exames</h5>
        </div>
        <div class="card-body">
          {% if errors %}
            <div class="alert alert-danger">
                <strong>O seguinte(s) erro(s) ocorreu(ram):</strong>
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
          {% endif %}
          <form  method="POST">{% csrf_token %}
            <div class="row mb-3 text-end">
              <label class="col-sm-1 col-form-label">{{ form.name.label }}:</label>
              <div class="col-sm-3">{{form.name}}</div>
              <label class="col-sm-1 col-form-label">{{form.age.label}}:</label>
              <div class="col-sm-2">
                <div class="position-relative">{{form.age}}</div>
              </div>
              <label class="col-sm-1 col-form-label">{{form.gender.label}}:</label>
              <div class="col-sm-1">
                <div class="position-relative">{{form.gender}}</div>
              </div>
              <label class="col-sm-1 col-form-label">{{ form.owner.label }}:</label>
              <div class="col-sm-2">{{form.owner}}</div>
            </div>
            <div class="row mb-3 text-end">
              <label class="col-sm-1 col-form-label"
                >{{form.specie.label}}:</label>
                <div class="col-sm-5">{{form.specie}}</div>
                <label class="col-sm-1 col-form-label">{{form.race.label}}:</label>
                <div class="col-sm-5">
                  <div class="input-group input-group-merge">{{form.race}}</div>
                </div>
            </div>
            <div class="row mb-3 text-end">
              <label class="col-sm-1 col-form-label">{{form.customer.label}}:</label>
              <div class="col-sm-3">{{form.customer}}</div>
              <label class="col-sm-1 col-form-label">{{form.procedure.label}}:</label>
              <div class="col-sm-3">{{form.procedure}}</div>
              <label class="col-sm-1 col-form-label">{{ form.discount.label }}:</label>
              <div class="col-sm-3">{{form.discount}}</div>
            </div>
            <div class="row mb-3 text-end">
              <label class="col-sm-1 col-form-label">{{ form.total_value.label }}:</label>
              <div class="col-sm-3">{{form.total_value}}</div>
              <label class="col-sm-1 col-form-label">{{form.payment.label}}:</label>
              <div class="col-sm-3">{{form.payment}}</div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">{{form.observation.label}}:</label>
              <div class="col-sm-10">{{form.observation}}</div>
            </div>
            <div class="row justify-content-start">
              <div class="col-sm-5">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <a href="{% url "list_exams" %}">
                  <button type="button" class="btn btn-secondary mt-3 mb-3">Voltar</button>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

  {% endblock content %}
</div>
