{% extends "base.html" %}

{% block content %}
 <!-- Content -->

 <div class="flex-grow-1 container-fluid">
  <h4 class="py-3 breadcrumb-wrapper mb-4">
    <span class="text-muted fw-light">Listagem de Exames /</span> Exames
  </h4>

    <div class="card">
      <div class="row ms-2 me-3 mt-3 mb-3">
        <div class="pb-0 mx-1 my-2">Filtros:</div>
        <form action="{% url "list_exams" %}" method="GET">
          <div class="col-md-12 pt-1 mb-3 d-flex flex-wrap flex-lg-nowrap">
            <div class="mx-1">
              <label class="">Cliente:</label>
              <input type="text" name="customer" class="form-control col-sm-5" placeholder="Filtrar por cliente">
            </div>
            <div class="mx-1">
              <label class="">&nbsp;</label>
              <button type="submit" class="btn btn-primary form-control py-2">&nbsp;<i class="bi bi-search"></i></button>
            </div>
          </div>
        </form>
      </div>  

  <!-- Basic Bootstrap Table -->
  <div class="card">
    <h5 class="card-header">Exames</h5>
    <div class="table-responsive text-nowrap text-center">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Espécie</th>
            <th>Raça</th>
            <th>Exame</th>
            <th>Cliente</th>
            <th>Valor</th>
            <th>Criado em</th>
            <th>Observação</th>
            <th>Status</th>
            <th>Pagamento</th>
            <th>Responsável</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for exam in exam_list %}          
          <tr>
            <td>{{ exam.name }}</td>
            <td>{{ exam.specie.name }}</td>
            <td>{{ exam.race.name }}</td>
            <td>{{ exam.procedure.name }}</td>
            <td>{{ exam.customer.name }}</td>
            <td>{{ exam.total_value }}</td>
            <td>{{ exam.created_at | date:"d/m/Y H:i" }}</td>
            {% if exam.observation %}
              <td class="text-truncate">{{ exam.observation }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
            {% if exam.status %}
              <td><i class="bi bi-check-circle-fill text-success"></i></td>
            {% else %}
              <td><i class="bi bi-x-circle text-danger"></i></td>
            {% endif %}
            <td>{{ exam.payment }}</td>
            <td>{{ exam.responsible.name }}</td>
            <td>
              <a href="{% url 'show_exam' pk=exam.pk %}"><i class="bi bi-eye-fill p-1"></i></a>
              <a href="{% url 'update_exams' pk=exam.pk %}"><i class="bi bi-pencil-fill text-secondary p-1"></i></a>
              <a href="{% url 'delete_exam' pk=exam.pk %}"><i class="bi bi-trash-fill text-danger p-1"></i></a>
            </td>          
          </tr> 
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<a href="{% url "create_exams" %}">
  <button class="btn btn-primary mt-3 mb-3">Novo Exame</button>
</a>
<!-- / Content -->
{% endblock content %}

