{% extends "base.html" %}

{% block content %}
 <!-- Content -->

 <div class="container-xxl flex-grow-1 container">
  <h4 class="py-3 breadcrumb-wrapper mb-4">
    <span class="text-muted fw-light">Listagem de Exames /</span> Exames
  </h4>

  <!-- Basic Bootstrap Table -->
  <div class="card">
    <h5 class="card-header">Exames</h5>
    <div class="table-responsive text-nowrap text-center">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Espécie</th>
            <th>Raça</th>
            <th>Exame</th>
            <th>Cliente</th>
            <th>Valor</th>
            <th>Criado em</th>
            <th>Observação</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for exam in exams %}          
          <tr>
            <td>{{ exam.name }}</td>
            <td>{{ exam.specie.name }}</td>
            <td>{{ exam.race.name }}</td>
            <td>{{ exam.procedure.name }}</td>
            <td>{{ exam.customer.name }}</td>
            <td>{{ exam.procedure.general_value }}</td>
            <td>{{ exam.created_at }}</td>
            {% if exam.observation %}
              <td>{{ exam.observation }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
            {% if exam.status %}
              <td><i class="bi bi-check-circle-fill"></i></td>
            {% else %}
              <td><i class="bi bi-x-circle"></i></td>
            {% endif %}            
          </tr> 
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <a href="{% url "create_exams" %}">
    <button class="btn btn-primary mt-3 mb-3">Novo Exame</button>
  </a>
  <!--/ Basic Bootstrap Table -->  
  <!--/ Responsive Table -->
</div>
<!-- / Content -->
{% endblock content %}

