{% extends "base.html" %}

{% block content %}
 <!-- Content -->

 <div class="container-xxl flex-grow-1 container">
  <h4 class="py-3 breadcrumb-wrapper mb-4">
    <span class="text-muted fw-light">Listagem de Espécies /</span> Espécies
  </h4>

  <!-- Basic Bootstrap Table -->
  <div class="card">
    <h5 class="card-header">Especies</h5>
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for specie in species %}          
          <tr>
            <td>{{specie.name}}</td>
          </tr> 
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <a href="{% url "create_species" %}">
    <button class="btn btn-primary mt-3 mb-3">Nova Espécie</button>
  </a>
  <!--/ Basic Bootstrap Table -->  
  <!--/ Responsive Table -->
</div>
<!-- / Content -->
{% endblock content %}

