{% extends "base.html" %}

{% block content %}
 <!-- Content -->

 <div class="container-xxl flex-grow-1 container">
  <h4 class="py-3 breadcrumb-wrapper mb-4">
    <span class="text-muted fw-light">Listagem de Procedimentos /</span> Procedimentos
  </h4>

  <!-- Basic Bootstrap Table -->
  <div class="card">
    <h5 class="card-header">Procedimentos</h5>
    <div class="table-responsive text-nowrap text-center">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Prazo (dias)</th>
            <th>Valor Geral</th>
            <th>Valor Clínica</th>
            <th>Valor Laboratório</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for procedure in procedure_list %}          
          <tr>
            <td>{{ procedure.name }}</td>
            <td>{{ procedure.acronym }}</td>
            <td>{{ procedure.deadline_in_days }}</td>
            <td>{{ procedure.general_value }}</td>
            <td>{{ procedure.clinic_value}}</td>           
            <td>{{ procedure.laboratory_value}}</td>           
          </tr> 
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <a href="{% url "create_procedures" %}">
    <button class="btn btn-primary mt-3 mb-3">Novo Procedimento</button>
  </a>
</div>
<!-- / Content -->
{% endblock content %}

