{% extends "base.html" %} {% block content %}
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="py-3 breadcrumb-wrapper mb-4">
    <span class="text-muted fw-light">Cadastro de Procedimentos/</span> Procedimentos
  </h4>

  <!-- Basic Layout & Basic with Icons -->
  <div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <div class="card mb-4">
        <div
          class="card-header d-flex align-items-center justify-content-between"
        >
          <h5 class="mb-0">Cadastro de Procedimentos</h5>
        </div>
        <div class="card-body">
          {% if errors %}
            <div class="alert alert-danger">
                <strong>O seguinte(s) erro(s) ocorreu(ram):</strong>
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
          {% endif %}
          <form method="POST">{% csrf_token %}
            <div class="row mb-3 text-end">
              <label class="col-sm-1 col-form-label">{{ form.name.label }}:</label>
              <div class="col-sm-3">{{form.name}}</div>
              <label class="col-sm-1 col-form-label">{{ form.acronym.label }}:</label>
              <div class="col-sm-3">{{form.acronym}}</div>
              <label class="col-sm-1 col-form-label">{{ form.deadline_in_days.label }}:</label>
              <div class="col-sm-3">{{form.deadline_in_days}}</div>
            </div>
            <div class="row mb-3 text-end">
              <label class="col-sm-2 col-form-label">{{ form.general_value.label }}:</label>
              <div class="col-sm-2">{{form.general_value}}</div>
              <label class="col-sm-2 col-form-label">{{ form.clinic_value.label }}:</label>
              <div class="col-sm-2">{{form.clinic_value}}</div>
              <label class="col-sm-2 col-form-label">{{ form.laboratory_value.label }}:</label>
              <div class="col-sm-2">{{form.laboratory_value}}</div>
            </div>
            <div class="row justify-content-start">
              <div class="col-sm-5">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <a href="{% url "list_procedures" %}">
                  <button type="button" class="btn btn-secondary mt-3 mb-3">Voltar</button>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

  {% endblock content %}
</div>
